In [2]:
import pandas as pd
from IPython.display import display

In [142]:
import numpy as np
import pandas as pd
from IPython.display import display

# Load the JSON data
url = 'https://hackscfitgpt-default-rtdb.firebaseio.com/data.json'
data = pd.read_json(url, orient='index').T['bodyMeasurements']

# Initialize a list to store the structured data
structured_data = []

# Extract each entry from `bodyMeasurements`
for measurement in data.values:
    if isinstance(measurement, dict):  # Only process if it's a dictionary
        name = measurement.get('name', '')
        units = measurement.get('units', '')
        for entry in measurement.get('data', []):
            structured_data.append({
                'date': entry.get('date', ''),
                'qty': entry.get('qty', ''),
                'name': name,
                'units': units
            })

# Create a DataFrame from the structured list
output_df = pd.DataFrame(structured_data, columns=['date', 'qty', 'name', 'units'])
len(output_df['name'].unique())
display(output_df)

,date,qty,name,units
0,2024-11-02 10:25:00 -0700,116.073381,lean_body_mass,lb
1,2024-11-02 10:25:00 -0700,21.5,body_mass_index,count
2,2024-11-01 19:49:00 -0700,90,walking_heart_rate_average,count/min
3,2024-11-02 12:44:00 -0700,113,walking_heart_rate_average,count/min
4,2024-11-03 10:04:00 -0800,110,walking_heart_rate_average,count/min
...,...,...,...,...
30628,2024-11-09 22:05:00 -0800,4.8,physical_effort,kcal/hr·kg
30629,2024-11-09 22:06:00 -0800,3.2,physical_effort,kcal/hr·kg
30630,2024-11-09 22:07:00 -0800,2.925,physical_effort,kcal/hr·kg
30631,2024-11-09 22:09:00 -0800,3.425,physical_effort,kcal/hr·kg
30632,2024-11-09 22:13:00 -0800,4.8,physical_effort,kcal/hr·kg

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

# Load the JSON data
url = 'https://hackscfitgpt-default-rtdb.firebaseio.com/data.json'
data = pd.read_json(url, orient='index').T['bodyMeasurements']

# Initialize a list to store the structured data
structured_data = []

# Extract each entry from `bodyMeasurements`
for measurement in data.values:
    if isinstance(measurement, dict):  # Only process if it's a dictionary
        name = measurement.get('name', '')
        units = measurement.get('units', '')
        for entry in measurement.get('data', []):
            structured_data.append({
                'date': entry.get('date', ''),
                'qty': entry.get('qty', ''),
                'name': name,
                'units': units
            })

# Create a DataFrame from the structured list
output_df = pd.DataFrame(structured_data, columns=['date', 'qty', 'name', 'units'])

# Convert the 'date' column to datetime
output_df['date'] = pd.to_datetime(output_df['date'], errors='coerce', utc=True)


# Sort the DataFrame by 'name' and 'date' to ensure correct time-based grouping
output_df = output_df.sort_values(by=['name', 'date'])

# Display the DataFrame
display(output_df)

                          date        qty                 name units
2816 2024-11-01 14:53:00+00:00   0.344497        active_energy  kcal
2817 2024-11-01 14:54:00+00:00   0.820503        active_energy  kcal
2818 2024-11-02 02:46:00+00:00   8.280599        active_energy  kcal
2819 2024-11-02 02:47:00+00:00   2.369133        active_energy  kcal
2820 2024-11-02 02:48:00+00:00   0.292474        active_energy  kcal
...                        ...        ...                  ...   ...
6223 2024-11-10 04:17:00+00:00  23.622047  walking_step_length    in
6224 2024-11-10 05:01:00+00:00   14.96063  walking_step_length    in
6225 2024-11-10 05:12:00+00:00  21.062992  walking_step_length    in
6226 2024-11-10 05:13:00+00:00  23.622047  walking_step_length    in
8600 2024-11-02 17:25:00+00:00  132.49782     weight_body_mass    lb

[30633 rows x 4 columns]

In [184]:
# unique_dates = output_df['date'].dt.date.unique()
# 
# # Print all unique dates
# for date in unique_dates:
#     print(date)

2024-11-01
2024-11-02
2024-11-03
2024-11-04
2024-11-05
2024-11-06
2024-11-07
2024-11-08
2024-11-09
2024-11-10

In [21]:
# Group the data by 'name' and 'date' and calculate the sum of 'qty' include the units also include the units
output_df['qty'] = pd.to_numeric(output_df['qty'], errors='coerce')
output_df['units'] = output_df['units'].astype(str)
output_df

# group the data by 'name' and 'date' and calculate the sum of 'qty' and 'units' with 10 days frequency
avg_10_days = output_df.groupby(['name', pd.Grouper(key='date', freq='10D')]).agg({'qty': 'sum', 'units': 'first'}).reset_index()

# drop date column
avg_10_days.drop(columns='date', inplace=True)

# Now divide the 'qty' by 10 and convert it to an integer
avg_10_days['qty'] = (avg_10_days['qty'] / 10).fillna(0).astype(int)

# Display the DataFrame


# CONVERT THE EACH NAME IN THE ROW AS NAME:QTY UNITS
avg_10_days['name'] = avg_10_days['name'] + ': ' + avg_10_days['qty'].astype(str) + '' + avg_10_days['units']
avg_10_days.drop(columns=['qty', 'units'], inplace=True)
avg_10_days.to_csv('ten_days_average.py', index=False)

In [13]:
# Group the data by 'name' and 'date' with a frequency of 10 days and calculate the sum of 'qty'
avg_10_days = output_df.groupby(['name', pd.Grouper(key='date', freq='10D')])['qty'].sum().reset_index()

# drop date column
avg_10_days.drop(columns='date', inplace=True)

avg_10_days['qty'] = pd.to_numeric(avg_10_days['qty'], errors='coerce')

# Now divide the 'qty' by 10 and convert it to an integer
avg_10_days['qty'] = (avg_10_days['qty'] / 10).fillna(0).astype(int)


avg_10_days

                                 name   qty
0                       active_energy   471
1                 apple_exercise_time    60
2                    apple_stand_hour     5
3                    apple_stand_time   103
4                 basal_energy_burned  1327
5             blood_oxygen_saturation    48
6                 body_fat_percentage     1
7                     body_mass_index     2
8        environmental_audio_exposure   616
9                     flights_climbed     9
10           headphone_audio_exposure  1125
11                         heart_rate     0
12             heart_rate_variability    70
13                     lean_body_mass    11
14                    physical_effort   329
15                 resting_heart_rate    26
16   six_minute_walking_test_distance    50
17                   stair_speed_down     1
18                     stair_speed_up     1
19                         step_count  8280
20                   time_in_daylight    37
21                            vo2_max    22
22       walking_asymmetry_percentage    19
23  walking_double_support_percentage   632
24         walking_heart_rate_average    88
25           walking_running_distance     3
26                      walking_speed    65
27                walking_step_length   614
28                   weight_body_mass    13

In [118]:
output_df['date'] = pd.to_datetime(output_df['date'], errors='coerce')
output_df['qty'] = pd.to_numeric(output_df['qty'], errors='coerce')

unique_names = output_df['name'].unique()
print("Unique measurement names:", unique_names)

Unique measurement names: ['lean_body_mass' 'body_mass_index' 'walking_heart_rate_average'
 'apple_exercise_time' 'time_in_daylight' 'headphone_audio_exposure'
 'apple_stand_time' 'blood_oxygen_saturation' 'active_energy' 'vo2_max'
 'stair_speed_down' 'six_minute_walking_test_distance' 'stair_speed_up'
 'walking_asymmetry_percentage' 'environmental_audio_exposure'
 'flights_climbed' 'resting_heart_rate' 'heart_rate_variability'
 'walking_double_support_percentage' 'apple_stand_hour'
 'walking_step_length' 'step_count' 'weight_body_mass'
 'body_fat_percentage' 'walking_running_distance' 'walking_speed'
 'basal_energy_burned' 'heart_rate' 'physical_effort']

In [119]:
summary_stats = output_df.groupby('name')['qty'].describe()
summary_stats

,count,mean,std,min,25%,50%,75%,max
name,,,,,,,,
active_energy,2351.0,2.006957,2.715796,0.005382,0.339561,0.800164,2.570950,12.827866
apple_exercise_time,605.0,1.000000,0.055088,0.042667,1.000000,1.000000,1.000000,1.957333
apple_stand_hour,51.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
apple_stand_time,1595.0,0.645768,0.312495,0.200000,0.400000,0.600000,1.000000,1.000000
basal_energy_burned,10638.0,1.247446,14.678222,0.059010,1.060050,1.060050,1.066150,1515.000000
blood_oxygen_saturation,5.0,96.400000,3.130495,91.000000,97.000000,97.000000,98.000000,99.000000
body_fat_percentage,1.0,12.400000,NaN,12.400000,12.400000,12.400000,12.400000,12.400000
body_mass_index,1.0,21.500000,NaN,21.500000,21.500000,21.500000,21.500000,21.500000
environmental_audio_exposure,87.0,70.888434,5.157907,60.879743,67.446098,69.882593,73.223385,87.518243
flights_climbed,263.0,0.360016,0.417970,0.001493,0.015020,0.204090,0.915001,2.000000
headphone_audio_exposure,155.0,72.643047,17.997703,22.815050,67.747647,78.667736,85.222221,92.777868
heart_rate,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heart_rate_variability,10.0,70.219723,41.811638,28.491701,44.512135,57.970377,85.167494,170.692054
lean_body_mass,1.0,116.073381,NaN,116.073381,116.073381,116.073381,116.073381,116.073381
physical_effort,900.0,3.656202,1.433879,1.100000,2.950000,3.550000,4.200000,10.950000
resting_heart_rate,4.0,67.000000,3.162278,64.000000,64.750000,66.500000,68.750000,71.000000
six_minute_walking_test_distance,1.0,500.000000,NaN,500.000000,500.000000,500.000000,500.000000,500.000000
stair_speed_down,8.0,1.814071,0.313598,1.102755,1.805911,1.872622,2.028454,2.058096
stair_speed_up,15.0,0.898785,0.146737,0.720212,0.788827,0.853460,0.971251,1.249619
step_count,2373.0,34.893274,38.242660,0.009535,8.281759,19.071490,47.530285,166.560954
time_in_daylight,446.0,0.847534,0.273362,0.010649,0.800000,1.000000,1.000000,1.000000
vo2_max,6.0,36.881667,0.684322,36.310000,36.537500,36.695000,36.837500,38.220000
walking_asymmetry_percentage,137.0,1.394161,5.803596,0.000000,0.000000,0.000000,0.000000,60.000000
walking_double_support_percentage,229.0,27.609825,2.001886,22.500000,26.100000,27.700000,29.000000,32.700000
walking_heart_rate_average,8.0,110.437500,9.431851,90.000000,110.000000,111.250000,113.250000,124.000000
walking_running_distance,2386.0,0.015556,0.020209,0.000004,0.003018,0.007199,0.018562,0.115003
walking_speed,249.0,2.638597,0.547654,1.275054,2.259306,2.661954,3.064603,4.227810
walking_step_length,249.0,24.675869,4.105886,14.960630,22.047244,24.803150,27.165354,37.007874
weight_body_mass,1.0,132.497820,NaN,132.497820,132.497820,132.497820,132.497820,132.497820

In [120]:
output_df.columns

Index(['date', 'qty', 'name', 'units'], dtype='object')

In [133]:
output_df['date'] = pd.to_datetime(output_df['date']).dt.tz_convert('UTC')
output_df['date'].unique()
output_df.dropna()
output_df.date = output_df.date.dt.date

In [134]:
output_df.date

0        2024-11-02
1        2024-11-02
2        2024-11-02
3        2024-11-02
4               NaT
            ...
30628           NaT
30629           NaT
30630           NaT
30631           NaT
30632           NaT
Name: date, Length: 30633, dtype: object